// Define variables for your color scheme

// Couleurs principales SafeMoov
$primary-color: #29647C;  // Bleu foncé (utilisé pour les CTA secondaires et les textes)
$secondary-color: #F9F3E3;  // Beige clair (background général)
$danger-color: #E73F4A;  // Rouge CTA principal (CTA, alertes critiques)

// Couleurs des incidents par gravité
$very-high-gravity: #A50021; // Très haute gravité (rouge foncé)
$high-gravity: #FF5733; // Haute gravité (rouge standard)
$moderate-gravity: #F39C12; // Gravité modérée (orange)
$low-gravity: #F4D03F; // Gravité faible (jaune)

// Couleurs des éléments UI
$gray-dark: #505050;  // Gris foncé (icônes navbar, textes secondaires)
$gray-light: #E0E0E0; // Gris clair (fonds des inputs, backgrounds secondaires)
$cta-blue: #29647C;  // Bleu foncé (couleur des boutons CTA secondaires, liens, hover)

// Couleurs globales de la web app
$body-bg: $secondary-color;  // Fond général de la webapp
$text-color: $gray-dark;  // Couleur principale des textes
$link-color: $primary-color;  // Bleu foncé Safemoov - Couleur des liens et hover
$input-bg: $gray-light;  // fond des inputs
$icon-default: $gray-dark;  // Couleur des pictos et des icônes par défaut

// Couleurs spécifiques aux boutons
$btn-primary-bg: $danger-color;  // Fond des boutons d'action principaux
$btn-secondary-bg: $cta-blue;  // Fond des boutons secondaires
$btn-hover-bg: darken($btn-secondary-bg, 10%); // Assombrir légèrement au hover

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
