// Styles spécifiques pour la page d'accueil
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: $primary-color;
  color: $white;
  height: 100vh; // Prend toute la hauteur de l'écran.
  overflow: hidden; // Empêche le scroll.
  padding: 2rem 1.5rem;
}

.home-header {
  margin-top:auto;

  h1 {
    font-size: 1.8rem; // Taille du titre
    color: $white;
    margin-bottom: 2.5rem;

    span {
      color: $white;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  p {
    font-size: 1rem;
    color: $secondary-color;
    margin-bottom: 1rem; // Ajout d'espacement en bas du texte.
    line-height: 1.4;

    span {
      color: $secondary-color;
      font-weight: bold;
    }
  }
}

.home-logo {
  .safemoov-logo {
    width: 95px;
    //height: 55px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-top: 5px;
    margin-bottom: 45px;

    &.hover {
      transform: scale(1.05);
    }
  }
}

.home-action {
  margin: 2rem 1rem 10rem 1rem; // Ajout  d'espacement autour du bouton.

  .cta-button {
    font-size: 1rem;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    border-radius: 25px;
    padding: 0.75rem 1rem;
    background-color: $btn-primary-bg;

    &:hover {
      background-color: $btn-hover-bg;
      color: $btn-primary-bg
    }
  }
}

// Styles pour le Carrousel //
#homeCarousel {
  width: 100%;
  max-width: 400px;
  height: 50vh; // Ajustement de la hauteur.
 // display: flex;
// justify-content: center;
// align-items: center;
}

// Conteneur du carrousel
.carousel-inner {
  width: 100%;
  height: 100%;
}

// Chaque slide
.carousel-item {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // transition: transform 0.5s ease-in-out;
}

.carousel-caption {
  bottom: 1rem;
  background-color: rgba($primary-color, 0.8);
  border-radius: 0.5rem;
  padding: 0.5rem;

  h5 {
    font-size: 1rem;
    color: $white;
  }

  p {
    font-size: 0.8rem;
    color: $white;
  }
}

// Positionnement des flèches //
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: auto;

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: $primary-color;
    border-radius: 50%;
  }
}

// Style des indicateurs //
.carousel-indicators {
  bottom: 0.5rem;

  button {
    background-color: $primary-color;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
}
