<!-- Header flottant -->
  <div class="logo">
    <%= link_to root_path, class: "header-logo" do %>
      <%= image_tag "logo-safemoov.png", alt: "SafeMoov", class: "floating-logo" %>
    <% end %>
  </div>

  