.floating-header {
  position:fixed;
  top: 1rem;
  left: 0rem;
  right: 0rem;
  width: 100%;
  padding: 0rem 0.75rem;
  z-index: 1055;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo .floating-logo {
    height: auto;
    width: 52px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    object-fit: contain;
    display: flex;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
    //align-items: center;
  }

  .right-icons {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    .notification-icon i {
      position: relative;
      font-size: 1.50rem;
      text-align: center;
      justify-content: space-around;
      width: 34px;
      height: 30px;
      border-radius: 50%;
      color: $primary-color;
      margin-right: 0.5rem;
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
      background-color: $secondary-color;
      border: 2px solid $gray-light;

      .badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: $danger-color;
        color: $white;
        border-radius: 50%;
        font-size: 0.65rem;
        padding: 0.15rem 0.35rem;
        font-weight: bold;
      }
    }

    .profile-menu .avatar {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $gray-light;
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
    }

    .connexion-link .nav-link {
      color: $primary-color;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .avatar-initial {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $primary-color;
      color: $white;
      font-weight: bold;
      font-size: 1rem;

      i {
        font-size: 1.8rem;
      }

      .avatar-letter {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8rem;
        font-weight: bold;
        color: $white;
      }
    }

    .avatar-toggle .avatar {
      position: fixed;
      top: 1rem;
      right: 1rem;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $primary-color;
      cursor: pointer;
      z-index: 1000;
    }

    .floating-icon {
      font-size: 1.5rem;
      color: $primary-color;
      cursor: pointer;
    }
  }
}
