.mapboxgl-popup {
  max-width: 200px;
  border-radius: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;

  a {
    text-decoration: none;
  }
}

.report-button-container {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.75rem 1.25rem;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  text-decoration: none !important;

  &:hover {
    background-color: $primary-color;
    color: white;
    transition: all 0.3s ease;
  }

  @media (max-width: 768px) {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

.notification-bell {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2000;
  width: 50px; /* Taille du cercle */
  height: 50px; /* Même taille pour un cercle parfait */
  background-color: #fff; /* Fond blanc, ajustable */
  border-radius: 50%; /* Rend le tout circulaire */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère pour le style */
}

.notification-bell a {
  color: $gray-dark;;
  font-size: 36px;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}

.notification-bell .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
